<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<%= image_tag "us.png", height: '52', width: '52' %>
<p> This is us! THE coach - Gab &#129313; and the other one is me - Karina &#129327;</p> 